.LoginForm {
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 0.4vmax;
    border-radius: 1vmax;
    padding: 1vmax;
    display: grid;
    grid-gap: 1vmax;
    grid-template-columns: min-content auto;
}

.LoginFormLabel {
    font-size: 2vh;
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
}

.LoginFormInput {
    padding: 0;
    font-size: 2vh;
    grid-column: 2 / 3;
}

.LoginFormButton {
    padding: 0;
    font-size: 2.2vh;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.LoginFormRow1 {
    grid-row: 1 / 2;
}

.LoginFormRow2 {
    grid-row: 2 / 3;
}
